.navbar-toggler {
    border-color: transparent;
}

.navbar-toggler:focus {
    box-shadow: none;
}

@media (max-width: 767px) {
    .mobile-center {
        text-align: center !important;
    }

    .mobile-hidden {
        display: none !important;
    }
}
