APP_NAME="Schramowski Getränke"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost
APP_VERSION=1.0.0

APP_LOCALE=de
APP_FALLBACK_LOCALE=de
APP_FAKER_LOCALE=de_DE

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=schramowski-drinks
DB_USERNAME=root
DB_PASSWORD=

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_SCHEME=smtp
MAIL_HOST=smtp.1und1.de
MAIL_PORT=465
MAIL_USERNAME=your_email@example.com
MAIL_PASSWORD="your_email_password"
MAIL_FROM_ADDRESS=info@schramowski-getraenke.de
MAIL_FROM_NAME="Schramowski Getränke"
MAIL_TO_ADDRESS=rikmeijers1@gmail.com
MAIL_TO_NAME="Rik Meijers"
MAIL_REPLY_TO_ADDRESS=info@schramowski-getraenke.de
MAIL_REPLY_TO_NAME="Schramowski Getränke"

SEND_RESERVATION_CONFIRMATION_EMAIL=true
SEND_RESERVATION_CONFIRMATION_EMAIL_CUSTOMER=true
SEND_RESERVATION_OVERDUE_EMAIL=true
SEND_RESERVATION_OVERDUE_EMAIL_CUSTOMER=true
SEND_RESERVATION_REMINDER_EMAIL=true
SEND_RESERVATION_REMINDER_EMAIL_CUSTOMER=true

RENTAL_ORDER_CUSTOMER_NAME_REQUIRED=true
RENTAL_ORDER_CUSTOMER_PHONE_REQUIRED=true
RENTAL_ORDER_CUSTOMER_EMAIL_ENABLED=true
RENTAL_ORDER_CUSTOMER_EMAIL_REQUIRED=true
RENTAL_ORDER_CUSTOMER_STREET_REQUIRED=true
RENTAL_ORDER_CUSTOMER_ID_NUMBER_REQUIRED=true
RENTAL_ORDER_CUSTOMER_CITY_REQUIRED=true
RENTAL_ORDER_CUSTOMER_DRIVER_LICENSE_NUMBER_REQUIRED=false
RENTAL_ORDER_CUSTOMER_LICENSE_PLATE_REQUIRED=true
RENTAL_ORDER_RENTAL_DATE_REQUIRED=true
RENTAL_ORDER_RETURN_DATE_REQUIRED=true
RENTAL_ORDER_NOTES_ENABLED=true
RENTAL_ORDER_NOTES_REQUIRED=false
RENTAL_ORDER_PHOTO_ENABLED=true
RENTAL_ORDER_PHOTO_REQUIRED=true
RENTAL_ORDER_SIGNATURE_ENABLED=true
RENTAL_ORDER_SIGNATURE_REQUIRED=true

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"
APP_TIMEZONE=Europe/Berlin
